.creat {
    background-image:url(../Images/division.jpeg);

}
.cra1 {
    color:hsl(0, 0%, 100%);
    margin:0;
    padding:0;
}
.cra2 {
    color:hsl(0, 0%, 100%);
    margin:0;
    padding:0;
}
.cra3 {
    color:hsl(0, 0%, 100%);
    margin:0;
    padding:0;
}
.cra4 {
    color:hsl(0, 0%, 100%);
    margin:0;
    padding:0;
}
.cra5 {
    color:hsl(0, 0%, 100%);
    margin:0;
    padding:0;
}
.cra6 {
    color:hsl(0, 0%, 100%);
    margin:0;
    padding:0;
}
.cra7 {
    color:hsl(0, 0%, 100%);
    margin:0;
    padding:0;
}
.cra8 {
    color:hsl(0, 0%, 100%);
    margin:0;
    padding:0;
}